div(class="card-results" id="cardContainer")
    div(class="card-credit row")
        div(class="card-title col-md-6")
            h3(id="card-name-line") Crédito de libre inversión
            p Cuota mensual aproximada 
            span(class="card-value" id="card-cuota") $ 830.000
        div(class="card-data col-md-6")
            div(class="table")
                div(class="row-table")
                    div(class="cell") A cuantos meses
                    div(class="cell cell-bold" id="card-meses") 12 Meses
                div(class="row-table")
                    div(class="cell") Tasa mensual
                    div(class="cell cell-bold" id="card-tasa") 1.5%
                div(class="row-table")
                    div(class="cell") Valor cuota sin seguro
                    div(class="cell cell-bold" id="card-cuota-sin") $ 825.000
                div(class="row-table")
                    div(class="cell") Valor seguro
                    div(class="cell cell-bold" id="card-seguro") $ 5.000
        div(class="card-credit-buttons")
            a(href="", class="btn btn-orange") Solicitar crédito
            a(href="", class="credit-enlace") Ver plan de pagos
    div(class="card-credit-message") 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque aliquet rhoncus eu, imperdiet ut nulla vivamus. Malesuada pharetra id congue id sit donec id tortor orci. Vestibulum imperdiet sodales nunc pharetra nunc porttitor. Diam pretium, rhoncus neque non vitae in blandit etiam sed. Augue condimentum ultrices nunc, lectus id facilisis felis phasellus at. Porttitor sit ultricies commodo at amet, risus a quis dignissim. Ullamcorper nibh aliquet lectus non congue ornare.
    div(class="card-credit-button")
        a(href="") 
            img(src="./images/back-vector.svg", alt="") 
            |   Ver todas las ofertas