div(class="card-results" id="cardContainer")
    div(class="card-credit row")
        div(class="card-title col-md-6")
            h3(id="card-name-line") Crédito de libre inversión
            p Cuota mensual aproximada 
            span(class="card-value" id="card-cuota") $ 830.000
        div(class="card-data col-md-6")
            div(class="table")
                div(class="row-table")
                    div(class="cell") A cuantos meses
                    div(class="cell cell-bold" id="card-meses") 12 Meses
                div(class="row-table")
                    div(class="cell") Tasa mensual
                    div(class="cell cell-bold" id="card-tasa") 1.5%
                div(class="row-table")
                    div(class="cell") Valor cuota sin seguro
                    div(class="cell cell-bold" id="card-cuota-sin") $ 825.000
                div(class="row-table")
                    div(class="cell") Valor seguro
                    div(class="cell cell-bold" id="card-seguro") $ 5.000
        div(class="card-credit-buttons")
            a(href="", class="btn btn-orange") Solicitar crédito
            a(href="javascript:void()", class="credit-enlace" id="plan-pagos") Ver plan de pagos