div(class="card-credit-message") 
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque aliquet rhoncus eu, imperdiet ut nulla vivamus. Malesuada pharetra id congue id sit donec id tortor orci. Vestibulum imperdiet sodales nunc pharetra nunc porttitor. Diam pretium, rhoncus neque non vitae in blandit etiam sed. Augue condimentum ultrices nunc, lectus id facilisis felis phasellus at. Porttitor sit ultricies commodo at amet, risus a quis dignissim. Ullamcorper nibh aliquet lectus non congue ornare.
    div(class="card-credit-button")
        a(href="") 
            img(src="./images/back-vector.svg", alt="") 
            |   Ver todas las ofertas