header(class="header")
        div(class="container")
            nav(class="nav__container")
                div(class="nav__logo bfix")
                    img(class="", src="./images/LogoCompensar.svg", alt="")
                div(class="nav__button bfix")
                    include loginButton.pug
