div(class="login-button")
    div(class="login-button__letter flex-center")
        p W
    a(href="") 
        div(class="login-button__dropdown")
            img(src="./images/icon_down.svg", aria-label="Desplegar menú")
    div(class="login-button__status")