@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

//Colors
$white: #FFFFFF;
$black: #000000;
$black-200: #808080;
$orange-300:#FF8C40;
$orange-400: #FF6600;
$gray-300: #D9D9D9;
$gray-light-400: #DADADA;
$green-400: #2BBF21;
$font-family: 'Roboto', sans-serif;

// Spacing
$sp-4: .25rem;
$sp-8: .5rem;
$sp-16: 1rem;
$sp-24: 1rem * 1.5;
$sp-32: 1rem * 2;
$sp-40: 1rem * 2.5;
$sp-48: 1rem * 3;
$sp-56: 1rem * 3.5;
$sp-64: 1rem * 4;
